body {
    font-family: sans-serif;
    padding: 0 25% 0 25%;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    color: darkgray;
}

main {
    display: inline-block;
}

menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

menu li {
    display: inline-block;
    margin: 0.5em;
}

menu li a,
menu li a:visited {
    color: darkblue;
}

h1 {
    color: darkcyan;
    text-align: center;
}

a,
a:visited {
    color: darkcyan;
    font-weight: bold;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.form-control,
.form-control.label *,
.btn {
    box-sizing: border-box;
    margin-bottom: 8pt;
    padding: 4pt;
    font-size: 1rem;
    width: 100%;
}

.btn-primary {
    background-color: darkcyan;
    border-color: darkcyan;
    color: white;
}

label {
    font-weight: bold;
}

form {
    box-sizing: border-box;
}